name: Node.js App CI/CD

on:
  push:
    branches:
      - 'feature/*'
      - 'master'
    paths:
      - 'cicd-hands-on/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
        working-directory: cicd-hands-on/app
      - name: Run tests
        run: npm test
        working-directory: cicd-hands-on/app

  deploy:
    needs: test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Deploying App
        run: echo "Deploying the Node.js application to production..."
